<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okimoto.sns.backend.follow.FollowMapper">

  <!-- idx_follows_followee_id を使う -->
  <select id="findFollowerIds" resultType="long">
    SELECT follower_id FROM follows WHERE followee_id = #{followeeId}
  </select>

</mapper>
